html,
html {
	scroll-behavior: smooth;
  }
body {
	min-height: 100%;
	height: 100%;
}

body {
	background: white;
}

header {
	/*height: 100%;
min-height: 600px;*/
	/*background-image: url(images/fundo.jpg);
background-repeat: no-repeat;
background-position: center bottom;
background-size: cover;*/
	padding: 50px 0px;
	text-align: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#secaoA {
	padding: 100px 15px;
}

#secaoB {
	padding: 150px 0px 100px;
	background-color: #3c455c;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100%;
}

footer {
	padding: 150px 15px 100px;
	background-color: black;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #999999;
}

.conteudo {
	margin: 0px auto;
	max-width: 1200px;
}

.footer {
	max-width: 500px;
	margin-top: 0px auto;
}

.item {
	background-color: #f7d2d2;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	padding: 20px;
	margin: 0px 0px 10px;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(63, 60, 60);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
.cursor {
	cursor: pointer;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.nav {
	background-color: black;
	padding: 2%;
}
.container-header {
	position: relative;
	width: 100%;
	height: 500px;
	background-color: black;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(29, 27, 24, 0.8);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
}

.container-header:hover .overlay {
	height: 100%;
}

.info {
	font-size: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-justify: auto;
	color: white;
	font-family: Helvetica, sans-serif;

}

.c1 {
	background-image: url('https://i.redd.it/javn2xymqtw41.jpg');
	background-size: cover;
	background-position: top center;

}

.texto { text-align: left;
	font-size: 80px;
	color: white;
	padding-top: 98%;
	padding-left: 2%;
	font-family: Helvetica, sans-serif;
	text-shadow: -1px 0 rgb(82, 81, 81);

}
.desc{
	font-size: large;
	font-family: Helvetica, sans-serif;
	padding-top: 30%;
	font-weight: bold;
}
.descsub{
	font-size: medium;
	padding-top: 5%;
	font-style: normal;
	font-weight: normal;

}
#divInfo1{
	background-color: #2a4547;
}
