<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<title>Produtora</title>

		<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-1.0.22.min.css" />
		<!--
	Animate.css
	https://daneden.github.io/animate.css/
	-->
		<link rel="stylesheet" href="/lib/animate/css/animate-3.7.2.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
        
        <form method="POST" id="form">
            <input type="name" name="name" placeholder="name">
            <input type="email" name="email" placeholder="email">
            <input type="subject" name="subject" placeholder="subject">
            <textarea name="text" id="text" cols="30" rows="10"></textarea>
            <input type="submit" value="submit">
        </form>

		<script type="text/javascript" src="/lib/jquery/jquery-1.0.0.min.js"></script>
		<script type="text/javascript" src="/lib/bootstrap/js/bootstrap-1.0.0.min.js"></script>
		<script type="text/javascript" src="/lib/jquery-validate/js/jquery-validate-1.0.0.min.js"></script>
		<script type="text/javascript" src="/lib/jquery-validate/js/messages_pt_BR.min.js"></script>
        <script type="text/javascript">
            $("#form").validate({
                rules: {
                    name: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    subject: {
                        required: true
                    },
                    text: {
                        required: true
                    }
                },
                submitHandler: function (form) {
                    $.ajax({
                        url: "/api/contact/send",
                        method: "POST",
                        data: $(form).serialize(),
                        success: function (data) {
                            if (data === true) {
                                alert("Enviado com sucesso!");
                            } else {
                                alert("Erro: " + data);
                            }
                        },
                        error: function () {
                            alert("Algo deu errado :(");
                        }
                    });
                }
            });
            
		</script>
	</body>
</html>
