<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<title>Produtora</title>

		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-1.0.22.min.css" />
		<!--
	Animate.css
	https://daneden.github.io/animate.css/
	-->
		<link rel="stylesheet" href="lib/animate/css/animate-3.7.2.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<nav class="nav">
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="#">Sobre</a>
				<a href="#">Filmes</a>
				<a href="#">Contato</a>
			</div>

			<span class="cursor" onclick="openNav()">
				Menu
			</span>
		</nav>

		<header data-parallax="scroll" data-image-src="images/">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-3">
						<div class="container-header c1">
							<div class="overlay">
								<div class="info">
									Info
									<button class="btn btn-default btn-outline" type="button" onclick="mostrarInfo('#divInfo1')">Mais Info...</button>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="container-header c1">
							<div class="overlay">
								<div class="info">
									Info
									<button class="btn btn-default btn-outline" type="button" onclick="mostrarInfo('#divInfo2')">Mais Info...</button>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="container-header c1">
							<div class="overlay">
								<div class="info">
									Info
									<button class="btn btn-default btn-outline" type="button" onclick="mostrarInfo('#divInfo3')">Mais Info...</button>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="container-header c1">
							<div class="overlay">
								<div class="info">
									Info
									<button class="btn btn-default btn-outline" type="button" onclick="mostrarInfo('#divInfo4')">Mais Info...</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section id="divInfo1">
			<p>abc</p>
			<p>abc</p>
			<p>abc</p>
			<p>abc</p>
			<p>abc</p>
			<p>abc</p>
		</section>

		<section id="divInfo2" style="display: none;">
			<p>def</p>
			<p>def</p>
			<p>def</p>
			<p>def</p>
			<p>def</p>
			<p>def</p>
		</section>

		<section id="divInfo3" style="display: none;">
			<p>ghi</p>
			<p>ghi</p>
			<p>ghi</p>
			<p>ghi</p>
			<p>ghi</p>
			<p>ghi</p>
		</section>

		<section id="divInfo4" style="display: none;">
			<p>jkl</p>
			<p>jkl</p>
			<p>jkl</p>
			<p>jkl</p>
			<p>jkl</p>
			<p>jkl</p>
		</section>

		<section id="secaoA">
			<h1></h1>
			<video autoplay loop muted>
				<source src="video.mp4" type="video/mp4" />
			</video>

			<div class="conteudo">
				<h1>
					Sobre
				</h1>
			</div>
		</section>

		<section id="secaoB" class="wow fadeInLeft">
			<div class="conteudo">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-4">
							<div class="item">
								<h2>Um item</h2>
								<p>Um texto</p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="item">
								<h2>Um item</h2>
								<p>Um texto</p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="item">
								<h2>Um item</h2>
								<p>Um texto</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<div class="item">
								<h2>Um item</h2>
								<p>Um texto</p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="item">
								<h2>Um item</h2>
								<p>Um texto</p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="item">
								<h2>Um item</h2>
								<p>Um texto</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="footer">
				<p>
					Rodapé
				</p>
			</div>
		</footer>

		<script type="text/javascript" src="lib/jquery/jquery-1.0.0.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap/js/bootstrap-1.0.0.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap/js/bootstrap-1.0.0.min.js"></script>
		<!--
		Parallax jQuery
		https://pixelcog.github.io/parallax.js/
		-->
		<script type="text/javascript" src="lib/parallax/js/parallax-1.5.0.min.js"></script>
		<!--
		wow.js
		https://wowjs.uk/
		
		Mais opções e documentação: https://wowjs.uk/docs.html
		-->
		<script type="text/javascript" src="lib/wow/js/wow-1.3.0.min.js"></script>
		<script type="text/javascript">
			new WOW().init();

			/* Set the width of the side navigation to 250px */
			function openNav() {
				document.getElementById("mySidenav").style.width = "250px";
			}

			/* Set the width of the side navigation to 0 */
			function closeNav() {
				document.getElementById("mySidenav").style.width = "0";
			}

			var divAtual = "#divInfo1", estaFazendoFade = false;

			function mostrarInfo(id) {
				if (id == divAtual || estaFazendoFade) {
					return;
				}

				estaFazendoFade = true;

				function terminarFadeIn() {
					estaFazendoFade = false;
				}

				function fazerFadeIn() {
					divAtual = id;
					$(divAtual).fadeIn(300, terminarFadeIn);
				}

				$(divAtual).fadeOut(300, fazerFadeIn);

			}
		</script>
	</body>
</html>
